APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:wZ+b6yLXhty7b3XfR7FdFe8McZ3bsCZOC3RBVPe375s=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=new_avtar
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120

LOG_CHANNEL=stack
LOG_LEVEL=debug

# BROADCAST
BROADCAST_CONNECTION=reverb

# CACHE / QUEUE
CACHE_STORE=redis
QUEUE_CONNECTION=redis

# REDIS
REDIS_CLIENT=predis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# REVERB
REVERB_APP_ID=547371
REVERB_APP_KEY=ac2ns8fevrixhcc4id8b
REVERB_APP_SECRET=2vjbksokkiogdyrmlpy3

REVERB_HOST=127.0.0.1
REVERB_PORT=8080
REVERB_SCHEME=http

# VITE
VITE_REVERB_APP_KEY="ac2ns8fevrixhcc4id8b"
VITE_REVERB_HOST="127.0.0.1"
VITE_REVERB_PORT=8080
VITE_REVERB_SCHEME=http
